<% content_for :page_title do %>
    Dashboard
<% end %>

<% content_for :page_class do %>
    background-image
<% end %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-2">
    <a href="<%=search_path%>" class="widget">
      <div class="widget-content themed-background-info text-light-op text-center">
        <div class="widget-icon">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="widget-content text-dark text-center">
        <strong>Search</strong>
      </div>
    </a>
  </div>
  <div class="col-sm-offset-1 col-sm-2">
    <a href="<%=new_trip_path%>" class="widget" id="create_trip">
      <div class="widget-content themed-background-passion text-light-op text-center">
        <div class="widget-icon">
          <i class="fa fa-plus"></i>
        </div>
      </div>
      <div class="widget-content text-dark text-center">
        <strong>Create</strong>
      </div>
    </a>
  </div>
  <div class="col-sm-offset-1 col-sm-2">
    <a href="<%=trips_path%>" class="widget">
      <div class="widget-content themed-background-amethyst text-light-op text-center">
        <div class="widget-icon">
          <i class="fa fa-compass"></i>
        </div>
      </div>
      <div class="widget-content text-dark text-center">
        <strong>Explore</strong>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center">My trips</h1>
    <br/>
  </div>
</div>


<!-- separete my trips and trips im participanting in? -->
<div class="row">
  <% @trips.each do |trip| %>
      <div class="col-lg-4">
        <%= render 'trips/trip', :trip => trip %>
      </div>
  <% end %>
</div>
<%= paginate @trips %>


<div class="row">
    <!-- Friendship Request Widget -->
    <div class="col-md-4 col-md-offset-4">
        <% if !current_user.inverse_requests.empty? %>
            <div class="widget" id="friendship_request_widget">
                <div class="widget-content widget-content-mini themed-background-dark text-light-op border-bottom">
                    <a href="javascript:void(0)" class="text-light"></a><%= t('user_request_widget_heading') %><a href="javascript:void(0)" class="text-light"></a>
                </div>
                <div class="widget-content widget-content-full">
                    <table class="table table-borderless table-striped table-vcenter"> 
                        <tbody>
                            <% current_user.inverse_requests.each do |request| %>
                                <tr> 
                                    <td class="text-center" style="widget: 100px;">
                                        <img src="<%= request.user.gravatar_url%>" alt="User Image" class="img-circle"> 
                                    </td>
                                    <td>
                                        <a href="<%= user_path(request.user)%>"><%= request.user.name %></a>
                                    </td>
                                    <td class="pull-right"  style="margin-top: 30px; margin-right: 20px;">
                                        <%= link_to user_friendships_path(current_user, friend_id: request.user_id),
                                            id: "accept_friend_request_#{request.user.name}",
                                            method: :post do %>
                                            <%= t('user_request_accept') %>
                                        <% end %>
                                        <%= link_to user_request_path(current_user, request.id),
                                             id: "remove_friend_request_#{request.user.name}",
                                             method: :delete do %>
                                             <%= t('user_request_remove') %>
                                        <% end %>
                                    </td>
                        <% end %>

                </div>
            </div>
        <% end %>
    </div>
    <!-- END Friendship Request Widget -->
</div>

