<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="block">
      <!-- Horizontal Form Title -->
      <div class="block-title">
        <h2><%= t(:trip_create) %></h2>
      </div>
      <!-- END Horizontal Form Title -->

      <%= form_for @trip, html: {class: 'form-horizontal form-bordered'} do |f| %>

          <div class="<%= form_group_class @trip, :title %>">
            <%= f.label :title, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :title, class: 'form-control'%>
              <%= form_group_errors @trip, :title %>
            </div>
          </div>

          <div class="<%= form_group_class @trip, :description %>">
            <%= f.label :description, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :description, class: 'form-control'%>
              <%= form_group_errors @trip, :description %>
            </div>
          </div>

          <div class="<%= form_group_class @trip, :start_date %> <%= form_group_class @trip, :end_date %>">
            <%= f.label :start_date, raw('<i class="fa fa-calendar"></i>'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group daterange">
                <%= f.text_field :start_date, class: 'form-control input-datepicker', placeholder: 'From mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
                <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                <%= f.text_field :end_date, class: 'form-control input-datepicker', placeholder: 'To mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
              </div>
              <%= form_group_errors @trip, :start_date %>
              <%= form_group_errors @trip, :end_date %>
              <span class="help-block"><%=t('trip_dates_help')%></span>
            </div>
          </div>

          <div class="<%= form_group_class @trip, :start_loc %> <%= form_group_class @trip, :end_loc %>">
            <%= f.label :start_loc, raw('<i class="fa fa-map-marker"></i>'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group daterange">
                <%= f.text_field :start_loc, class: 'form-control', placeholder: 'Your starting location.' %>
                <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                <%= f.text_field :end_loc, class: 'form-control', placeholder: 'Your ending location.' %>
              </div>
              <%= form_group_errors @trip, :start_loc %>
              <%= form_group_errors @trip, :end_loc %>
              <span class="help-block"><%=t('trip_locations_help')%></span>
            </div>
          </div>

          <div class="<%= form_group_class @trip, :image %>">
            <%= f.label :image, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :image, class: 'form-control', placeholder: 'https://unsplash.it/1060/260?random' %>
              <%= form_group_errors @trip, :image %>
              <span class="help-block"><%=t('trip_image_help')%></span>
              <br/>
              <div class="row image-search">
                <div class="col-md-12 text-center loading-indicator">
                  <i class="fa fa-spinner fa-2x fa-spin text-danger"></i>
                </div>
              </div>
              <button id="image-search-refresh-button" class="btn btn-default"><i class="fa fa-refresh"></i></button>
            </div>
          </div>

          <div class="<%= form_group_class @trip, :tag_list %>">
            <%= f.label :tag_list, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :tag_list, class: 'input-tags', placeholder: 'Awesome tags for your trip...'%>
              <%= form_group_errors @trip, :tag_list %>
              <span class="help-block"><%=t('trip_tags_help')%></span>
            </div>
          </div>


          <div class="<%= form_group_class @trip, :public %>">
            <%= f.label :public, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <label class="switch switch-success"><%= f.check_box :public %><span></span></label>
              <%= form_group_errors @trip, :public %>
              <span class="help-block"><%=t('trip_public_helper').html_safe%></span>
            </div>
          </div>

          <div class="<%= form_group_class @trip, :public_gallery %>">
            <%= f.label :public_gallery, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <label class="switch switch-success"><%= f.check_box :public_gallery %><span></span></label>
              <%= form_group_errors @trip, :public_gallery %>
              <span class="help-block"><%=t('trip_public_gallery_helper').html_safe%></span>
            </div>
          </div>

          <div class="<%= form_group_class @trip, :price %>">
            <%= f.label :price, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                <%= f.number_field :price, class: 'form-control' %>
                <span class="input-group-btn">
                    <% if action_name == 'edit' and @total_amount_summary > 0 %>
                        <button type="button" class="btn btn-effect-ripple btn-primary" onclick="$('#trip_price').val($(this).data('equipment-price'))" data-equipment-price="<%= @total_amount_summary %>"><i class="fa fa-reply"></i> <%= t('trip_copy_equipment_price') %></button>
                    <% end %>
                </span>
              </div>
              <%= form_group_errors @trip, :price %>
              <span class="help-block"><%=t('trip_price_helper')%></span>
            </div>
          </div>

          <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-3">
              <%= f.submit class: 'btn btn-effect-ripple btn-primary' %>
              <% if current_page?(action: 'new') %>
                  <%= link_to t('cancel'), dashboard_path, class: 'btn btn-effect-ripple btn-primary', id: 'cancel_button' %>
              <% else %>
                  <%= link_to t('cancel'), @trip, class: 'btn btn-effect-ripple btn-primary', id: 'cancel_button' %>
              <% end %>
            </div>
          </div>

      <% end %>
      <!-- END Horizontal Form Content -->
    </div>
  </div>
</div>
