<div class="block">
  <!-- Horizontal Form Title -->
  <div class="block-title">
    <h2>Your trip</h2>
  </div>
  <!-- END Horizontal Form Title -->

  <%= form_for @trip, html: {class: 'form-horizontal form-bordered'} do |f| %>
      <% if @trip.errors.any? %>
          <div id="error_explanation">
            <h2> <%= pluralize(@trip.errors.count, "error") %>
              prohibited this trip from begin saved:
            </h2>
            <ul>
              <% @trip.errors.full_messages.each do |msg| %>
                  <li><%= msg %> </li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :title, class: 'form-control'%>
          <span class="help-block">Any trip title that's fine.</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :description, class: 'form-control'%>
          <span class="help-block">Any description that's fine.</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :start_loc, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <%= f.text_field :start_loc, class: 'form-control', placeholder: 'Your starting location.' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :start_date, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <%= f.text_field :start_date, class: 'form-control input-datepicker', placeholder: 'mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :end_loc, class: 'col-md-3 control-label' %>

        <div class="col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <%= f.text_field :end_loc, class: 'form-control', placeholder: 'Your ending location.' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :end_date, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <%= f.text_field :end_date, class: 'form-control input-datepicker', placeholder: 'mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :image, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :image, class: 'form-control'%>
          <span class="help-block">An image url for your trip.</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :tag_list, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :tag_list, class: 'form-control'%>
          <span class="help-block">Awesome tags for your trip.</span>
        </div>
      </div>

      <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">
          <%= f.submit class: 'btn btn-effect-ripple btn-primary' %>
          <%= button_tag "Cancel", :type => 'cancel', :name => 'cancel', class: 'btn btn-effect-ripple btn-danger' %>
        </div>
      </div>


  <% end %>

  <!-- END Horizontal Form Content -->
</div>
