<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="block">
      <!-- Horizontal Form Title -->
      <div class="block-title">
        <h2>Your trip</h2>
      </div>
      <!-- END Horizontal Form Title -->

      <%= form_for @trip, html: {class: 'form-horizontal form-bordered'} do |f| %>
          <% if @trip.errors.any? %>
              <div id="error_explanation">
                <h2> <%= pluralize(@trip.errors.count, "error") %>
                  prohibited this trip from begin saved:
                </h2>
                <ul>
                  <% @trip.errors.full_messages.each do |msg| %>
                      <li><%= msg %> </li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.label :title, t('trip_title'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :title, class: 'form-control'%>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, t('trip_description'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :description, class: 'form-control'%>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :start_date, raw('<i class="fa fa-calendar"></i>'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group daterange">
                <%= f.text_field :start_date, class: 'form-control input-datepicker', placeholder: 'From mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
                <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                <%= f.text_field :end_date, class: 'form-control input-datepicker', placeholder: 'To mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
              </div>
              <span class="help-block"><%=t('trip_dates_help')%></span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :start_loc, raw('<i class="fa fa-map-marker"></i>'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="input-group daterange">
                <%= f.text_field :start_loc, class: 'form-control', placeholder: 'Your starting location.' %>
                <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                <%= f.text_field :end_loc, class: 'form-control', placeholder: 'Your ending location.' %>
              </div>
              <span class="help-block"><%=t('trip_locations_help')%></span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :image, t('trip_image'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :image, class: 'form-control', placeholder: 'https://unsplash.it/1060/260?random'%>
              <span class="help-block"><%=t('trip_image_help')%></span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :tag_list, t('trip_tags'), class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :tag_list, class: 'input-tags', placeholder: 'Awesome tags for your trip...'%>
              <span class="help-block"><%=t('trip_tags_help')%></span>
            </div>
          </div>

          <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-3">
              <%= f.submit class: 'btn btn-effect-ripple btn-primary' %>
              <% if current_page?(action: 'new') %>
                  <%= link_to t('cancel'), dashboard_path, class: 'btn btn-effect-ripple btn-primary', id: 'cancel_button' %>
              <% else %>
                  <%= link_to t('cancel'), @trip, class: 'btn btn-effect-ripple btn-primary', id: 'cancel_button' %>
              <% end %>
            </div>
          </div>

      <% end %>
      <!-- END Horizontal Form Content -->
    </div>
  </div>
</div>