<div class="block-full">

    <%= form_tag search_path, html: {class: 'form-horizontal form-bordered'}, method: :get do %>

      <div class="form-group">
        <%= label_tag :title_search, 'Title', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= text_field_tag :title_search, params[:title_search], class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :location_search, 'Start or end location', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
            <%= text_field_tag :location_search, params[:location_search], class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :tag_search, 'Tags', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
            <%= text_field_tag :tag_search, params[:tag_search], class: 'form-control' %>
        </div>
      </div>


      <div class="col-md-9 col-md-offset-3">
        <%= submit_tag 'Search Trips', name: nil, class: 'btn btn-effect-ripple btn-primary' %>
      </div>

    <% end %>

</div>