<div class="content-header">
  <div class="header-section">
    <%= form_tag search_path, :class => 'form-horizontal', method: :get do %>

      <div class="form-group">
        <div class="col-sm-6 push-bit">
          <%= text_field_tag :title_search, params[:title_search], class: 'form-control', placeholder: 'Search title...' %>
        </div>
        <%= label_tag :date_beg, 'From', class: 'col-md-1 control-label' %>
        <div class="col-sm-3">
            <%= text_field_tag :date_beg, params[:date_beg], class: 'form-control input-datepicker', placeholder: 'mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 push-bit">
          <%= text_field_tag :location_search, params[:location_search], class: 'form-control', placeholder: 'Search location...' %>
        </div>
        <%= label_tag :date_end, 'To', class: 'col-md-1 control-label' %>
        <div class="col-sm-3">
          <%= text_field_tag :date_end, params[:date_end], class: 'form-control input-datepicker', placeholder: 'mm/dd/yy', 'data-date-format' => 'mm/dd/yy' %>
        </div>
      </div>

      <div class="form-group remove-margin-bottom">
        <div class="col-sm-6 push-bit">
          <%= text_field_tag :tag_search, params[:tag_search], class: 'form-control', placeholder: 'Search tags...' %>
          <%= text_field_tag :name_search, params[:name_search], class: 'form-control', placeholder: 'Search name...' %>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <%= submit_tag raw('Search Trips'), name: nil, class: 'btn btn-effect-ripple btn-primary', style: 'overflow: hidden; position: relative;' %>
        </div>
      </div>
    <% end %>
  </div>
</div>