<% # NOTE: This layout is used by all nested trip resource controllers/views (e.g. the ParticipantController). %>

<% content_for :page_title do %>
    <%= @trip.title %>
<% end %>

<!-- Trip Profile Row -->
<div class="row">
  <div class="col-md-5 col-lg-4">
    <div class="trip widget">
      <div class="widget-image widget-image-sm">
        <img src="<%= @trip.image.empty? ? 'http://lorempixel.com/315/270/nature' : @trip.image %>" alt="image">
        <div class="widget-image-content text-center">
          <h2 class="widget-heading text-light"><strong><%=@trip.title%></strong></h2>
          <h4 class="widget-heading text-light-op"><em>updated <%= time_ago_in_words(@trip.updated_at) %> ago</em></h4>
        </div>
      </div>
      <div class="widget-content border-bottom">
        <h4>About</h4>
        <p><%= @trip.description %></p>
        <h4>Other information</h4>
        <p><%= @trip.start_loc %> (<%= @trip.start_date %>) - <%= @trip.end_loc %> (<%= @trip.end_date %>)</p>
        <p class="owner">Created by <%= @trip.user.name %></p>
      </div>
      <div class="widget-content">
        <h4>Tags</h4>
        <% tag_cloud(@tags, %w(label-primary label-warning label-danger label-success label-default label-info)) do |tag, css_class| %>
            <span class="label <%=css_class%>"><%=tag.name%></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-lg-8">
    <div class="block full">
      <!-- Block Tabs Title -->
      <div class="block-title">
        <div class="block-options pull-right">
          <a href="<%= trip_participants_path(@trip) %>" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="<%=t('trip_participants')%>"><i class="fa fa-user"></i></a>
          <% if policy(@trip).update? %>
            <a href="<%= edit_trip_path(@trip) %>" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="<%=t('trip_edit')%>"><i class="fa fa-cog"></i></a>
          <% end %>
          <% if policy(@trip).destroy?  %>
              <%= link_to raw('<i class="fa fa-trash"></i>'),
                          trip_path(@trip),
                          method: :delete,
                          data: {
                                  confirm: 'Are you sure you want to delete this trip?',
                                  toggle: 'tooltip'
                          },
                          class: 'btn btn-effect-ripple btn-default',
                          title: 'Delete trip',
                          id: 'delete_trip_button'
              %>
          <% end %>
        </div>
        <ul class="nav nav-tabs">
          <li class="<%=current_page?(trip_path(@trip)) ? 'active' : ''%>"><a href="<%= trip_path(@trip) %>"><%=t('trip_activities')%></a></li>
          <li class=""><a href="#" style="color:orange">Routes</a></li>
          <li class=""><a href="#" style="color:orange">Equipment</a></li>
          <li class=""><a href="#" style="color:red">Discussion</a></li>
          <li class=""><a href="#" style="color:orange">Blog</a></li>
          <li class=""><a href="#" style="color:red">Gallery</a></li>
          <li class=""><a href="#" style="color:red">Calendar</a></li>
        </ul>
      </div>
      <!-- END Block Tabs Title -->

      <!-- Tabs Content -->
      <div class="tab-content">

        <div class="tab-pane active">
          <%= yield :tab_content %>
        </div>

      </div>
      <!-- END Tabs Content -->
    </div>
  </div>
</div>
<!-- END Trip Profile Row -->
