<a href="<%=trip_path(trip)%>" class="widget">
<div class="widget-image widget-image-xs">
  <img src="<%= trip.image.empty? ? 'https://unsplash.it/500/20' << rand(9).to_s << '?random' : trip.image %>" alt="image" style="min-width: inherit;">
  <div class="widget-image-content">
    <h2 class="widget-heading text-light"><strong><%=trip.title%></strong></h2>
    <h3 class="widget-heading text-light-op">Created by <%= trip.user.name %></h3>
  </div>
</div>
<div class="widget-content">
  <div class="row">
    <div class="col-xs-6">
      <div class="text-dark push-bit">Updated <%= time_ago_in_words(trip.updated_at) %> ago</div>
    </div>
    <div class="col-xs-6 text-right">
      <div class="text-warning">
        <i class="fa fa-2x fa-star"></i>
        <i class="fa fa-2x fa-star"></i>
        <i class="fa fa-2x fa-star"></i>
        <i class="fa fa-2x fa-star"></i>
        <i class="fa fa-2x fa-star-half-o"></i>
      </div>
    </div>
  </div>
</div>
</a>