<h2><%= @trip.title %></h2>

Updated <%= time_ago_in_words(@trip.updated_at) %><br />
<%= link_to "Edit", edit_trip_path %>
<%= link_to "Delete", 
    trip_path(@trip),
    method: :delete, 
    data: { 
        confirm: "Are you sure you want to delete this trip?" }
%><br />
<IMG SRC="<%= @trip.image %>"><br />

<%= @trip.description %><br />
Start Location: <%= @trip.start_loc %><br />
End Location: <%= @trip.end_loc %><br />


