<div id='trip'>
	<h2><%= @trip.title %></h2>
	<span id='owner'>
		Created by <%= @trip.account.username %> 
	</span>
</div>



Updated <%= time_ago_in_words(@trip.updated_at) %> ago<br />
<%= link_to "Edit", edit_trip_path %>
<%= link_to "Delete", 
    trip_path(@trip),
    method: :delete, 
    data: { 
        confirm: "Are you sure you want to delete this trip?" }
%><br />


<IMG SRC="<%= @trip.image %>"><br />

<%= @trip.description %><br />
TAGS: <%= @trip.tag_list %><br />
Start Location: <%= @trip.start_loc %>  <br />
Start Date:     <%= @trip.start_date %> <br />
End Location:   <%= @trip.end_loc %>    <br />
End Date:       <%=  @trip.end_date %>   <br />


