<% content_for :page_title do %>
    <%= @trip.title %>
<% end %>

<% content_for :content_header do %>
    <div class="content-header content-header-media" style="background: url(<%= @trip.image.empty? ? 'https://unsplash.it/1060/260?random' : @trip.image %>) no-repeat; background-size: 100%;">
      <div class="header-section">
        <div class="row">
          <div class="col-sm-7 col-md-8 col-lg-9 content-float-hor push-bit-top-bottom clearfix">
            <h1><%=@trip.title%></h1>
            <h2 class="text-light-op">
              <% if ! @trip.start_loc.blank? %>
                  <%= @trip.start_loc %>
              <% end %>
              <% if ! @trip.start_date.blank? %>
                  (<%= @trip.start_date %>)
              <% end %>

              <% if ! @trip.end_loc.blank? or ! @trip.end_date.blank? %>
                    -
              <% end %>

              <% if ! @trip.end_loc.blank? %>
                  <%= @trip.end_loc %>
              <% end %>
              <% if ! @trip.end_date.blank? %>
                  (<%= @trip.end_date %>)
              <% end %>
            </h2>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="trip clearfix">
    <div class="col-md-4">
        <div class="widget-content themed-background-flat clearfix">
            <div class="widget-icon pull-right">
                <i class="gi gi-albums text-light-op"></i>
            </div>
            <h2 class="widget-heading h3 text-light"><strong><%= t('trip_view_public_page')%></strong></h2>
            <span class="text-light-op"></span>
        </div>
    </div>

    <%= link_to "public_view", trip_public_path(@trip), :action => 'show', :id => @trip.id %>

  <blockquote class="pull-left">
    <p><%= @trip.description.empty? ? 'This awesome trip has no description yet. Feel free to add a creative text!' : @trip.description %></p>
    <small><span class="owner">Created by <%= @trip.user.name %></span> and last updated <%= time_ago_in_words(@trip.updated_at) %> ago</small>
  </blockquote>
</div>
