<% content_for :page_title do %>
    <%= t(:discussions)%>
<% end %>

<% content_for :content_header do %>
    <div class="content-header">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-buttons pull-right">
            <a href="<%=new_trip_discussion_path(@trip)%>" id="create-discussion" class="btn btn-lg btn-effect-ripple" data-toggle="tooltip" data-original-title="<%=t('new_discussion')%>"><i class="fa fa-plus"></i></a>
          </div>
          <div class="header-section">
            <h1><%= yield :page_title %></h1>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if @discussions.empty? %>

    <%= quote_btn t('trip_discussions_new_quote'), t('trip_discussions_new_btn'), new_trip_discussion_path(@trip), 'add_discussion_btn_empty' %>

<% else %>

    <div class="block">

      <!-- Grid Content Content -->
      <table class="table table-striped table-vcenter">
        <thead>
        <tr>
          <th colspan="2">Topics</th>
          <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Replies</th>
          <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
        </tr>
        </thead>
        <tbody>
        <%= render @discussions %>
        </tbody>
      </table>
      <!-- END Grid Content Content -->
    </div>

<% end %>