<% content_for :page_title do %>
    <%= t(:discussion) %>
<% end %>

<div class="block overflow-hidden">
  <div class="block-section">
    <!-- TITLE BEGIN -->
    <div class="block-title clearfix">
      <div class="block-options pull-right">
        <% if policy(@trip).update? %>
            <%= link_to raw('<i class="fa fa-pencil"></i>'),
                        edit_trip_discussion_path(@trip, @discussion),
                        id: 'edit-discussion-btn',
                        style: 'overflow: hidden; position: relative',
                        class: 'btn btn-effect-ripple btn-warning',
                        data: {toggle: 'tooltip', original_title: t(:edit)}
            %>
            <%= link_to raw('<i class="fa fa-trash"></i>'),
                        trip_discussion_path(@trip, @discussion),
                        method: :delete,
                        data: {
                                confirm: t(:discussion_delete_verification),
                                toggle: 'tooltip',
                                original_title: 'Delete'
                        },
                        title: '',
                        id: 'destroy-discussion-btn',
                        class: 'btn btn-effect-ripple btn-danger',
                        style: 'overflow: hidden; position: relative;' %>
            </div>
        <% end %>
        <div class="block-options pull-left">
          <%= link_to trip_discussions_path,
                      id: 'discussion-view-back',
                      class: 'btn btn-effect-ripple btn-default',
                      style: 'overflow: hidden; position: relative;' do %>
              <i class="fa fa-chevron-left"></i>
              <%= t(:back_to_discussions) %>
          <% end %>
        </div>
        </div>
  </div>
  <!-- TITLE END -->
  <!-- -->
  <div class="widget-content themed-background-muted">
    <ul class="media-list push" , id="comment-list">
      <li class="media">
        <%= link_to image_tag(@discussion.user.gravatar_url, class: 'img-circle', alt: 'Avatar'),
                    user_path(@discussion.user),
                    class: 'pull-left'
        %>
        <div class="media-body">
          <a href="javascript:void(0)"><strong><%= @discussion.user.name %></strong></a>
          <span class="text-muted"><small><em><%= distance_of_time_in_words (Time.now - @discussion.updated_at) %></em>
          </small></span>

          <h1><%= simple_format @discussion.title %></h1>

          <p><%= simple_format @discussion.body %></p>
        </div>

        <% if @comments.exists? %>
            <%= render partial: "comments/comment", collection: @comments.select(&:persisted?) %>
        <% end %>
    </ul>
    <ul class="media-list push">
      <li class="media">
        <%= link_to image_tag(current_user.gravatar_url, class: 'img-circle', alt: 'Avatar'),
                    user_path(current_user),
                    class: 'pull-left'
        %>
        <div class="media-body">
          <%= form_for [@trip, @discussion, @comment], remote: true, id: 'new_comment' do |f| %>
              <%= f.text_area :body, placeholder: t(:write_your_comment), rows: '2', class: 'form-control' %>
              <%= f.submit t(:publish), id: 'save-comment-btn', class: 'btn btn-effect-ripple btn-sm btn-primary', style: 'overflow: hidden; position: relative;' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>

