<li class="media">
  <%= link_to image_tag(comment.user.gravatar_url, class: 'img-circle', alt: 'Avatar'),
              user_path(comment.user),
              class: 'pull-left'
  %>
  <div class="media-body">
    <%= link_to user_path(comment.user) do %>
        <strong><%= comment.user.name %></strong>
    <% end %>
    <span class="text-muted"><small><em><%= distance_of_time_in_words (Time.now - comment.updated_at) %></em>
    </small></span>

    <p><%= comment.body %></p>
  </div>
</li>