<% content_for :page_title do %>
    <%= @article.title %>
<% end %>

<% content_for :page_class do %>
    background-image
<% end %>

<% content_for :content_header do %>
    <!-- Article Header -->
    <div class="content-header">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-buttons pull-right">
            <%= link_to raw('<i class="fa fa-reply"></i>'), trip_articles_path(@trip), class: 'btn btn-lg btn-effect-ripple',  data: { toggle: 'tooltip', original_title: t('trip_article_index_title') } %>
            <% if policy(@trip).update? %>
                <%= link_to raw('<i class="fa fa-pencil"></i>'), [:edit, @trip, @article], id: 'edit_article_button',class: 'btn btn-lg btn-effect-ripple', data: { toggle: 'tooltip', original_title: t('trip_article_edit')} %>
                <%= link_to raw('<i class="fa fa-trash"></i>'), trip_article_path(@trip, @article),
                        method: :delete, data: {confirm: t('trip_article_destroy_confirm'), toggle: 'tooltip', original_title: t('trip_article_destroy')},
                        id: 'delete_article_button', class: 'btn btn-lg btn-effect-ripple' %>
            <% end %>
          </div>
          <div class="header-section">
            <h1><%= @route.title %></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END Article Header -->
<% end %>

<!-- render article -->
<%= render 'article' %>
