<% content_for :page_title do %>
    equipment | <%= @equipment_list.name %> | <%= @equipment_item.name %>
<% end %>



<%= render 'equipment_lists/sidebar' %>

<% content_for :content_header do %>
    <div class="content-header">
      <div class="row">
        <div class="col-sm-12">
            <div class='header-buttons pull-right'>
                <%= link_to raw('<i class="fa fa-reply"></i>)'), :back, class: 'btn btn-lg btn-effect-ripple', data: { toggle: 'tooltip', original_title: t('back') }, style: 'overflow: hidden; position: relative;' %>
                <% if policy(@trip).update? %>
                  <a href="<%=edit_trip_event_path(@trip, @event)%>" class="btn btn-lg btn-effect-ripple" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="<%=t('trip_events_edit')%>"><i class="fa fa-pencil"></i></a>
                  <%= link_to raw('<i class="fa fa-trash"></i>'),
                              trip_event_path(@trip, @event),
                              :method => :delete,
                              data: {
                                      confirm: t('trip_events_destroy_confirm'), toggle: 'tooltip' },
                              title: t('trip_events_destroy'),
                              class: 'btn btn-lg btn-effect-ripple',
                              id: 'destroy-event-btn'
                  %>
                <% end %>
          </div>
          <div class="header-section">
              <h1><%= @equipment_item.name %></h1><i>Created by: <%= User.find(@equipment_item.user_id).name %></i>
          </div>

        </div>
      </div>
    </div>
<% end %>

<!-- EquipmentList -->
<div class='block' id='EquipmentList'>
    <div class='block-title'>
        <!-- begin drop down menu -->
        <div class='block-options pull-right'>
            <div class='btn-group'>
                <% if policy(@trip).update? %>
                    <a href="javascript:void(0)" class="btn btn-effect-ripple btn-primary dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Extras"><i class="fa fa-chevron-down"></i></a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="<%= edit_trip_equipment_list_equipment_item_path(@trip, @equipment_list, @equipment_item) %>", id='edit_equipment_item'>
                                <i class="fa fa-pencil pull-right"></i>
                                edit
                            </a>
                        </li>
                        <% if current_user.id == @equipment_item.user_id or policy(@trip).destroy? %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to raw('<i class="fa fa-trash-o fa-fw pull-right"></i> delete'),
                                    trip_equipment_list_equipment_item_path(@trip, @equipment_list, @equipment_item),
                                    :method => :delete,
                                    :data => {
                                        :confirm    => 'are you sure you want to delete this equipment item?',
                                        :toogle     => 'tooltip'
                                    },
                                    :class => 'text-danger',
                                    :title => '',
                                    :id    => 'delete_equipment_item'
                                %>
                        </li>
                    <% end %>
                    </ul>
                <% end %>
            </div>
            <!-- end drop down menu -->
        </div>
    </div>
    <p> <h3> Number of items </h3> <%= @equipment_item.number %> </p>
    <p> <h3> Price </h3> <%= @equipment_item.price %> </p>
</div>


<!-- begin equipment table if there is any assigments -->
<% if @equipment_item.equipment_assignments.count != 0 %>
    <div class='block'>
        <div class='table-responsive'>
            <table class="table table-borderless table-vcenter">
                <thead>
                    <tr>
                        <th>Assigned to</th>
                        <th>Number</th>
                    </tr>
                </thead>
                <tbody>
                    <% @equipment_item.equipment_assignments.each do |assignment| %>
                        <tr>
                            <td><strong><%= User.find(assignment.user_id).name %></strong></td>
                            <td><%= assignment.number %><td>
                                    <td class="text-center">
                                        <% if policy(@trip).update? %>
                                            <a href="<%= edit_trip_equipment_list_equipment_item_equipment_assignment_path(@trip, @equipment_list, @equipment_item, assignment) %>" data-toggle="tooltip" id='edit_equipment_assignment' title="Edit assignment" class="btn btn-effect-ripple btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                                        <% end %>
                                        <% if policy(@trip).destroy? %>
                                            <%= link_to raw('<i data-toggle="tooltip" title="delete item" class="btn btn-effect-ripple btn-xs btn-danger fa fa-times"></i>'),
                                                trip_equipment_list_equipment_item_equipment_assignment_path(@trip, @equipment_list, @equipment_item, assignment),
                                                :method => :delete,
                                                :data => {
                                                    :confirm => 'Are you sure you want to delete this assignment?',
                                                    :toogle => 'tooltip'
                                                },
                                                :class => 'text-danger',
                                                :title => '',
                                                :id => 'delete_equipment_assignment'
                                            %>

                                    <% end %>
                                    </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- end block -->        
    </div>
<% end %>

<div class='block'>
    <% unless @equipment_item.equipment_assignments.sum(:number) == @equipment_item.number %>
        <%= render :partial => 'equipment_assignments/form' %>
    <% end %>
</div>



