<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="block">
          <!-- Horizontal Form Title -->
          <div class="block-title">
              <h2><%= t('edit_user') %></h2>
          </div>
          <!-- END Horizontal Form Title -->

          <%= form_for @user, html: {class: "form-horizontal form-bordered"} do |f| %>

              <div class="<%= form_group_class @user, :name %>">
                <%= f.label :name, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= f.text_field :name, class: "form-control" %>
                    <%= form_group_errors @user, :name %>
                </div>
              </div>

              <div class="<%= form_group_class @user, :email %>">
                <%= f.label :email, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= f.text_field :email, class: "form-control" %>
                    <%= form_group_errors @user, :email %>
                </div>
              </div>

              <div class="<%= form_group_class @user, :age %>">
                <%= f.label :age, class: "col-md-3 control-label" %><br>
                <div class="col-md-9">
                    <%= f.number_field :age, class: "form-control" %>
                    <%= form_group_errors @user, :age %>                    
                </div>
              </div>

              <div class="<%= form_group_class @user, :country %>">
                <%= f.label :country, class: "col-md-3 control-label" %><br>
                <div class="col-md-9">
                    <%= f.text_field :country, class: "form-control" %>
                    <%= form_group_errors @user, :age %>                    
                </div>
              </div>

              <div class="<%= form_group_class @user, :town %>">
                <%= f.label :town, class: "col-md-3 control-label" %><br>
                <div class="col-md-9">
                    <%= f.text_field :town, class: "form-control" %>
                    <%= form_group_errors @user, :town %>                    
                </div>
              </div>

              <div class="<%= form_group_class @user, :status %>">
                <%= f.label :status, class: "col-md-3 control-label" %><br>
                <div class="col-md-9">
                    <%= f.text_field :status, class: "form-control" %>
                    <%= form_group_errors @user, :status %>                    
                </div>
              </div>

              <div class="<%= form_group_class @user, :image %>">              
                <%= f.label :image, class: "col-md-3 control-label" %><br>
                <div class="col-md-9">
                    <%= f.text_field :image, class: "form-control" %>
                    <%= form_group_errors @user, :image %>                    
                </div>
              </div>

              <div class="<%= form_group_class @user, :gender %>">                            
                  <%= f.label :gender, class: "col-md-3 control-label" %><br>
                  <div class="col-md-9">
                    <input type="radio" id="user_gender" name="user[gender]" value=1> Male
                    <input type="radio" id="user_gender" name="user[gender]" value=2> Female
                    <%= form_group_errors @user, :gender %>                                        
                  </div>
              </div>
                       

              <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                  <%= f.submit id: 'save-user-btn',
                                  class: "btn btn-effect-ripple btn-primary" %>
                  <%= link_to t(:cancel), :back, class: 'btn btn-effect-ripple btn-primary', id: 'cancel_button' %>
                </div>
              </div>
          <% end %>
        </div>
    </div>
</div>
