<div class="block">
  <div class="block-title">
    <h2>Welcome to the edit user page</h2>
  </div>

  <%= form_for @user, html: {class: "form-horizontal form-bordered"} do |form| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2> <%= pluralize(@user.errors.count, "error") %>
              prohibited this user from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %> </li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <%= form.label :name, class: "col-md-3 control-label" %><br>

        <div class="col-md-9">
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :email, class: "col-md-3 control-label" %><br>

        <div class="col-md-9">
          <%= form.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :age, class: "col-md-3 control-label" %><br>

        <div class="col-md-9">
          <%= form.number_field :age, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :country, class: "col-md-3 control-label" %><br>

        <div class="col-md-9">
          <%= form.text_field :country, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :town, class: "col-md-3 control-label" %><br>

        <div class="col-md-9">
          <%= form.text_field :town, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :status, class: "col-md-3 control-label" %><br>

        <div class="col-md-9">
          <%= form.text_field :status, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :image, class: "col-md-3 control-label" %><br>

        <div class="col-md-9">
          <%= form.text_field :image, class: "form-control" %>
        </div>
      </div>

      <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">
          <%= form.submit id: 'save-user-btn',
                          class: "btn btn-effect-ripple btn-primary" %>
          <%= link_to t(:cancel), user_path(@user), class: 'btn btn-effect-ripple btn-primary', id: 'cancel_button' %>
        </div>
      </div>
  <% end %>
</div>
