<h1>My Profile</h1>

<div class="row">
  <div class="col-md-5 col-lg-4">
    <div class="user widget">
      <div class="widget-image widget-image-sm">
        <div id="user-image">
          <% if @user.image %>
              <img src="<%= @user.image %>" alt="image">
          <% else %>
              <img src="http://lorempixel.com/315/270/nature" alt="image">
          <% end %>
        </div>
        <div class="widget-image-content text-center">
          <h2 class="widget-heading text-light"><strong><%= @user.name %> </strong></h2>
        </div>
      </div>
      <div class="widget-content widget-content-full border-bottom">
        <div class="row text-center">
          <div class="row text-center">
            <div class="col-xs-6 push-inner-top-bottom border-right">
              <h3 class="widget-heading"><i class="gi gi-heart text-danger push"></i><br>
                <small><strong>100</strong>Likes</small>
              </h3>
            </div>

            <div class="col-xs-6 push-inner-top-bottom">
              <div id="request-friend">
                <% if current_user.id != @user.id %>

                    <% r = Request.where('(user_id LIKE ? AND receiver_id  LIKE ?) OR (user_id LIKE ? AND receiver_id LIKE ?)', @user.id, current_user.id, current_user.id, @user.id) %>
                    <% f = Friendship.where('(user_id LIKE ? AND friend_id  LIKE ?) OR (user_id LIKE ? AND friend_id LIKE ?)', @user.id, current_user.id, current_user.id, @user.id) %>

                    <% if r.blank? and f.blank? %>
                        <%= link_to user_requests_path(user_id: @user.id),
                                    method: :post,
                                    id: 'create_request_id' do %>
                            <i class="fa fa-plus"></i> Add Friend
                        <% end %>
                    <% elsif f.blank? %>
                        <%= link_to user_request_path(@user, r[0].id),
                                    method: :delete,
                                    id: 'remove_request_id' do %>
                            <i class="fa fa-minus"></i> Remove friend request
                        <% end %>
                    <% end %>

                <% end %>
              </div>
              <h3 class="widget-heading"><i class="gi gi-group themed-color-social push"></i><br>
                <small>
                  <strong><%= Friendship.where(user_id: @user.id).count + Friendship.where(friend_id: @user.id).count %></strong>Friends
                </small>
              </h3>
            </div>
          </div>
        </div>
        <div class="widget-content border-bottom">
          <h4>Information</h4>

          <p><%= @user.email %></p>

          <p><%= @user.age %></p>

          <p><%= @user.country %></p>

          <p><%= @user.town %></p>

          <p><%= @user.status %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-lg-8">
    <div class="block full">
      <div class="block-title">
        <div class="block-options pull-right">
          <a href="<%= edit_user_path(@user) %>" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="Edit user"><i class="fa fa-cog"></i></a>
        </div>
      </div>
    </div>
    <div class="block full">
      <div class="block-title">
        <div id="my-friends">
          <h2> Friends </h2>
          <ul>
            <% for friendship in @user.inverse_friendships %>
                <li>
                  <%= link_to friendship.user.name, user_path(friendship.user), :method => :get %>
                  <% if current_user.id == @user.id %>
                      <%= link_to user_friendship_path(@user, friendship),
                                  id: "delete_friend_#{friendship.user.id}",
                                  method: :delete do %>
                          <i class="fa fa-minus"></i>
                      <% end %>
                  <% end %>
                </li>
            <% end %>

            <% for friendship in @user.friendships %>
                <li>
                  <%= link_to friendship.friend.name, user_path(friendship.friend), :method => :get %>
                  <% if current_user.id == @user.id %>
                      <%= link_to user_friendship_path(@user, friendship),
                                  id: "delete_friend_#{friendship.friend.id}",
                                  method: :delete do %>
                          <i class="fa fa-minus"></i>
                      <% end %>
                  <% end %>
                </li>
            <% end %>

          </ul>
        </div>
        <div id="friend-requests">
          <% if current_user.id == @user.id %>
              <h2> Friend requests </h2>
              <ul>
                <% for request in current_user.inverse_requests %>
                    <li>
                      <%= link_to request.user.name, user_path(request.user), method: :get %>
                      <%= link_to user_friendships_path(@user, friend_id: request.user.id),
                                  id: "accept_friend_request_#{request.user.id}",
                                  method: :post do %>
                          <i class="fa fa-plus"></i>
                      <% end %>
                      <%= link_to user_request_path(@user, request.id),
                                  method: :delete do %>
                          <i class="fa fa-minus"></i>
                      <% end %>
                    </li>
                <% end %>

              </ul>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>