<h1>My Profile</h1>

<div class="row">
  <div class="col-md-5 col-lg-4">
    <div class="user widget">
      <div class="widget-image widget-image-sm">
        <div id="user-image">
          <% if @user.image %>
              <img src="<%= @user.image %>" alt="image">
          <% else %>
              <img src="http://lorempixel.com/315/270/nature" alt="image">
          <% end %>
        </div>
        <div class="widget-image-content text-center">
          <h2 class="widget-heading text-light"><strong><%= @user.name %> </strong></h2>
        </div>
      </div>
      <div class="widget-content widget-content-full border-bottom">
        <div class="row text-center">
          <div class="row text-center">
            <div class="col-xs-6 push-inner-top-bottom border-right">
              <h3 class="widget-heading"><i class="gi gi-heart text-danger push"></i><br>
                <small><strong>100</strong>Likes</small>
              </h3>
            </div>
            <div class="col-xs-6 push-inner-top-bottom">
              <% if current_user.id != @user.id %>
                  <% f = Friendship.where('(friend_id LIKE ? AND user_id LIKE ?) OR (user_id LIKE ? AND friend_id LIKE ?)', "%#{@user.id}%", "%#{current_user.id}%", "%#{current_user.id}%", "%#{@user.id}%") %>
                  <% if f.blank? %>
                      <a href="<%= user_friendships_path(@user) %>" data-method="post"> <i class="fa fa-plus"></i></a>
                      <%= link_to "Add Friend", user_friendships_path(@user), :method => :post %>
                  <% end %>

              <% end %>
              <h3 class="widget-heading"><i class="gi gi-group themed-color-social push"></i><br>
                <small>
                  <strong><%= Friendship.where(user_id: @user.id).count + Friendship.where(friend_id: @user.id).count %></strong>Friends
                </small>
              </h3>
            </div>
          </div>
        </div>
        <div class="widget-content border-bottom">
          <h4>Information</h4>

          <p><%= @user.email %></p>

          <p><%= @user.age %></p>

          <p><%= @user.country %></p>

          <p><%= @user.town %></p>

          <p><%= @user.status %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-lg-8">
    <div class="block full">
      <div class="block-title">
        <% if policy(@user).update? %>
            <div class="block-options pull-right">
              <%= link_to edit_user_path(@user),
                            id: "edit-user-btn",
                            class: "btn btn-effect-ripple btn-default",
                            data_toggle: "tooltip",
                            title: t(:edit_user) do %>
                  <i class="fa fa-cog"></i>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="block full">
      <div class="block-title">
        <h2> Your friends </h2>
        <ul>
          <% for user in @user.inverse_friends %>
              <li>
                <%= link_to user.name, user_path(user), :method => :get %>
              </li>
          <% end %>
          <% for friendship in @user.friendships %>
              <li>
                <%= link_to friendship.friend.name, user_path(friendship.friend), :method => :get %>
                <% if current_user.id == @user.id %>
                    <a href="<%= user_friendship_path(@user, friendship) %>" data-method="delete">
                      <i class="fa fa-minus"></i></a>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>