<% content_for :page_title do %>
    <%= t('user_profile') %> - <%= @user.name %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <!-- User Profile Header -->
        <div class="widget">
            <% if current_user == @user %>
                <%= link_to edit_user_path(@user),
                    id: "edit-user-btn",
                    class: "btn btn-effect-ripple btn-default widget-heading",
                    data_toggle: "tooltip",
                    title: t(:edit_user) do %>
                    <i class="fa fa-cog"></i>
                <% end %>
            <% end %>
            <div class="widget-image widget-image-sm" style="height:500px;">
                <img src="https://i.4cdn.org/wg/1431684618361.jpg" alt="image"> <!-- pick random picture? -->
                <div class="widget-image-content text-center" >
                    <img src="<%= (@user.image.blank? || @user.image.nil?) ? @user.gravatar_url : @user.image %>" alt="avatar" class="img-circle img-thumbnail img-thumbnail-transparent img-thumbnail-avatar-2x push" style="margin-top:150px">
                    <h2 class="widget-heading text-light"><strong><%= @user.name %></strong></h2>
                    <h4 class="widget-heading text-light-op"><em><%= @user.email %></em></h4>

                    <!-- fixme if the fields are empty -->
                    <h5 class="widget-heading text-light-op"><em>
                            <i class="fa fa-<%= @user.gender ? "mars" : "venus"%> fa-fw"></i>
                            - <%= @user.age %> - <%= @user.town %>(<%= @user.country %>) - <%= @user.status %> </em></h5>

                    <!-- Friendship Widget -->
                    <div class="col-md-2 col-md-offset-5">
                        <div class="widget-heading themed-background-dark text-light-op">
                            <% if current_user.id != @user.id %>
                                <!-- Request a Friendship -->
                                <% if @requests.blank? and @friendships.blank? %>
                                    <%= link_to user_requests_path(user_id: current_user.id, receiver_id: @user.id),
                                        method: :post,
                                        id: 'create_request_id' do %>
                                        <%= t('user_friendship_add_friend') %>
                                    <% end %>

                                    <!-- FIXME if a request is made, the reciver should be able to accept it when they look at the requestors user page -->
                                <% elsif @friendships.blank? && (@requests[0].receiver_id != current_user) %>
                                    <%= link_to user_friendships_path(current_user, friend_id: @user.id),
                                        id: "accept_friend_request_#{@user.name}",
                                        method: :post do %>
                                        <%= t('user_request_accept') %>
                                    <% end %>
                                    <!-- Remove Friendship Request -->
                                <% elsif @friendships.blank? %>
                                    <%= link_to user_request_path(@user, @requests[0].id),
                                        method: :delete,
                                        id: 'remove_request_id' do %>
                                        <i class="fa fa-minus"></i> <%= t('user_request_remove') %>
                                <% end %>
                            <% else %>
                                <!-- Remove Friendship -->
                                <%= link_to user_friendship_path(@user, @friendships[0].id),
                                    id: "delete_friend_#{@user.name}",
                                    method: :delete do %>
                                    <%= t('user_friendship_remove') %>
                                <% end %>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                    <!-- END Friendship Widget -->

                </div>
            </div>
            <div class="widget-content widget-content-full border-bottom">

            </div>
            <div class="widget-content border-bottom">

            </div>
        </div>
    </div>
    <!-- End User Profile Header -->

    <!-- Participant Widget -->
    <div class="col-md-4">
        <div class="widget">
            <div class="widget-content widget-content-mini themed-background-dark text-light-op border-bottom">
                <span class="pull-right text-muted">
                    <%= page_entries_info @friends %>
                </span>
                <a href="javascript:void(0)" class="text-light"></a><%= t('trip_participants') %><a href="javascript:void(0)" class="text-light"></a>
            </div>
            <div class="widget-content widget-content-full">
                <table class="table table-borderless table-striped table-vcenter">
                    <tbody>
                        <% @friends.each do |user| %>
                            <tr>
                                <td class="text-center" style="width: 100px;">
                                    <img src="<%= user.gravatar_url %>" alt="User Image" class="img-circle">
                                </td>
                                <td>
                                    <a href="<%= user_path(user) %>"><%= user.name %></a>
                                </td>
                                <!-- Remove Friend if the @user is on his/her own page -->
                                <% if current_user == @user %>
                                    <td class="pull-right" style="margin-top: 30px; margin-right: 20px;">
                                        <!-- Is there a better way? -->
                                        <% friendship_record = Friendship.where('(user_id LIKE ? AND friend_id  LIKE ?) OR (user_id LIKE ? AND friend_id LIKE ?)', user.id, current_user.id, current_user.id, user.id) %>
                                        <%= link_to user_friendship_path(@user, :id => friendship_record[0].id),
                                            id: "delete_friend_#{user.name}",
                                            title: "remove #{user.name}",
                                            method: :delete do %>
                                            <i class="fa fa-minus"></i>
                                        <% end %>
                                    </td>
                                <% end %>
                            <% end %>
                    </tbody>
                </table>
            </div>
            <%= paginate @friends, :param_name => :friends %>
        </div>
    </div>
    <!-- END Participant Widget -->


    <!-- Public trips participanting in -->
    <% unless @public_trips.empty? %>
        <div class="col-md-4 col-md-offset-4">
            <div class="widget">
                <div class="widget-content widget-content-mini themed-background-dark text-light-op border-bottom">
                    <span class="pull-right text-muted">
                        <%= page_entries_info @public_trips %>
                    </span>
                    <a href="javascript:void(0)" class="text-light"></a><%= t('trip_participants') %><a href="javascript:void(0)" class="text-light"></a>
                </div>
                <div class="widget-content widget-content-full">
                    <table class="table table-borderless table-striped table-vcenter">
                        <tbody>
                            <% @public_trips.each do |trip| %>
                                <tr>
                                    <td class="text-center" style="width: 100px;">
                                        <img src="<%= trip.image %>" alt="User Image" class="img-circle img-thumbnail img-thumbnail-transparent img-thumbnail-avatar push">
                                    </td>
                                    <td>
                                        <a href="<%= trip_public_path(trip.id) %>"><%= trip.title %></a>
                                    </td>
                                <% end %>
                        </tbody>
                    </table>
                </div>
                <%= paginate @public_trips, :param_name => :trips %>
            </div>
        </div>
    <% end %>


    <!-- Friendship Request Widget -->
    <% if current_user == @user && ! current_user.inverse_requests.empty? %>
        <div class="col-md-4 col-md-offset-4">
            <div class="widget">
                <div class="widget-content widget-content-mini themed-background-dark text-light-op border-bottom">
                    <a href="javascript:void(0)" class="text-light"></a><%= t('trip_participants') %><a href="javascript:void(0)" class="text-light"></a>
                </div>
                <div class="widget-content widget-content-full">
                    <table class="table table-borderless table-striped table-vcenter"> 
                        <tbody>
                            <% current_user.inverse_requests.each do |request| %>
                                <tr> 
                                    <td class="text-center" style="widget: 100px;">
                                        <img src="<%= request.user.gravatar_url%>" alt="User Image" class="img-circle"> 
                                    </td>
                                    <td>
                                        <a href="<%= user_path(request.user)%>"><%= request.user.name %></a>
                                    </td>
                                    <td class="pull-right"  style="margin-top: 30px; margin-right: 20px;">
                                        <%= link_to user_friendships_path(current_user, friend_id: request.user_id),
                                            id: "accept_friend_request_#{@user.name}",
                                            method: :post do %>
                                            <%= t('user_request_accept') %>
                                        <% end %>
                                    </td>
                        <% end %>

                </div>
            </div>
        </div>
    <% end %>
    <!-- END Friendship Request Widget -->

</div>


