<% content_for :page_title do %>
    <i class="fa fa-history"></i> <strong>Reset password</strong>
<% end %>

<div class="block animation-fadeInQuickInv">
  <div class="block-title">
    <div class="block-options pull-right">
      <%= link_to new_user_session_path, title: "Back to login", class: "btn btn-effect-ripple btn-primary", data: {toggle: "tooltip", placement: "left"} do %>
          <i class="fa fa-user"></i>
      <% end %>
    </div>
    <h2>Reset</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |f| %>

      <%= render "layouts/messages" %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.password_field :password, placeholder: "New password", class: "form-control", autofocus: true, autocomplete: "off" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.password_field :password_confirmation, placeholder: "Confirm new password", class: "form-control", autocomplete: "off" %>
        </div>
      </div>

      <div class="form-group form-actions">
        <div class="col-xs-12 text-right">
          <%= f.submit "Change my password", class: "btn btn-effect-ripple btn-sm btn-primary" %>
        </div>
      </div>
  <% end %>
</div>