<% content_for :page_title do %>
    <%=t('trip_events_new')%>
<% end %>

<% content_for :content_header do %>
    <div class="content-header">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-buttons pull-right">
            <a href="<%=trip_events_path(@trip)%>" class="btn btn-lg btn-effect-ripple" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="<%=t('trip_events')%>"><i class="fa fa-reply"></i></a>
          </div>
          <div class="header-section">
            <h1><%= yield :page_title %></h1>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= render 'form' %>