<% content_for :page_stylesheets do %>
    <link rel="stylesheet" href="<%= asset_path 'app/js/vendor/fontawesome-iconpicker-1.0.0/dist/css/fontawesome-iconpicker.min.css' %>">
<% end %>

<% content_for :page_scripts do %>
    <script src="<%= asset_path 'app/js/vendor/fontawesome-iconpicker-1.0.0/dist/js/fontawesome-iconpicker.min.js' %>"></script>
    <script>
        $(function() {
            $('#equipment_list_icon').iconpicker({
                placement:'top',
                defaultValue: 'fa-align-justify'
            });
        });
    </script>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="block">
      <!-- Horizontal Form Title -->
      <div class="block-title">
          <h2>
              <% if current_page?(:action => 'new') %>
                  <%= t('trip_equipment_list_create', :trip_title => @trip.title) %>
              <% else %>
                  <%= t('trip_equipment_list_edit', :equipment_list_title => @equipment_list.name) %>
              <% end %>
          </h2>
      </div>
      <!-- END Horizontal Form Title -->

      <%= form_for [@trip, @equipment_list], html: {class: 'form-horizontal form-bordered'} do |f| %>

          <div class="form-group">
            <%= f.label :name, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :name, class: 'form-control'%>
              <span class="help-block"> <%= t('trip_equipment_name_description') %></span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :description, class: 'form-control', placeholder: t('trip_equipment_description_description'), rows: 7 %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :icon, class: 'col-md-3 control-label' %>
            <div class="col-md-4">
              <%= f.text_field :icon, class: 'form-control'%>
              <span class="help-block"> <%= t('trip_equipment_icon_description') %></span>
            </div>
          </div>

          <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-3">
              <%= f.submit class: 'btn btn-effect-ripple btn-primary', id: 'submit' %>
              <%= link_to 'Cancel', :back, class: 'btn btn-effect-ripple btn-primary', id: 'cancel_button' %>
            </div>
          </div>

      <% end %>
      <!-- END Horizontal Form Content -->
    </div>
  </div>
</div>



