<% unless @trip.equipment_lists.empty? %>

    <% content_for :page_class do %>
        inner-sidebar-left
    <% end %>


    <div id="page-content-sidebar">
      <!-- Collapsible Options -->
      <a href="javascript:void(0)" class="btn btn-block btn-default visible-xs" data-toggle="collapse" data-target="#todo-options">Options</a>
      <div id="todo-options" class="collapse navbar-collapse remove-padding">
        <!-- Lists -->
        <h4 class="inner-sidebar-header">
          <a href="<%= new_trip_equipment_list_path(@trip) %>" class="btn btn-xs btn-default pull-right" title="Create equipment list"><i class="fa fa-plus"></i></a>
          Lists
        </h4>
        <div class="block-section">
          <ul class="nav nav-pills nav-stacked">

            <% @trip.equipment_lists.each do |equipment_list| %>
                <li class="<%= current_page?(trip_equipment_list_path(@trip, equipment_list)) || current_page?(edit_trip_equipment_list_path(@trip, equipment_list)) ? 'active' : ''%>">
                  <a href="<%= trip_equipment_list_path(@trip, equipment_list) %>" id="<%= equipment_list.name %>_equipment_link">
                    <i class="fa <%= equipment_list.icon %> fa-fw icon-push"></i> <strong><%= equipment_list.name %></strong>
                  </a>
                </li>
            <% end %>
          </ul>
        </div>
        <!-- END Lists -->

      </div>
      <!-- END Collapsible Options -->
    </div>

<% end %>