<% content_for :page_title do %>
    <%= t('trip_equipment_list_title') %>
<% end %>

<% content_for :page_scripts do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(moneyChart);
      google.setOnLoadCallback(itemChart);

      function moneyChart() {

        var data = google.visualization.arrayToDataTable([
                ['participant_name', 'total_assigned_cost'],
                <% @user_summary_hash.each do |id, values| %>
                    <% if id.is_a? Integer %>
                        ['<%= User.find(id).name %>', <%= values[0] %>],
                    <% else %>
                        ['<%= id %>', <%= values[0] %>],
                    <% end %>
                <% end %>
        ]);

        var options = {
           'width':300,
           'height':200,
            pieHole: 0.3,
        };

        var chart = new google.visualization.PieChart(document.getElementById('money_piechart'));

        chart.draw(data, options);
      }

      function itemChart() {

        var data = google.visualization.arrayToDataTable([
                ['participant_name', 'total_assigned_items'],
                <% @user_summary_hash.each do |id, values| %>
                    <% if id.is_a? Integer %>
                        ['<%= User.find(id).name %>', <%= values[1] %>],
                    <% else %>
                        ['<%= id %>', <%= values[1] %>],
                    <% end %>
                <% end %>
        ]);

        var options = {
           'width':300,
           'height':200,
            pieHole: 0.3
        };

        var chart = new google.visualization.PieChart(document.getElementById('item_piechart'));

        chart.draw(data, options);
      }
    </script>
<% end %>    


<%= render 'sidebar' %>
<!-- widgets -->
<div class="row">    
    <div class="col-lg-offset-3 col-lg-3">
        <a href="javascript:void(0)" onclick="$('#money_piechart, #item_piechart').toggleClass('hidden');" class="widget" id="money_widget">
            <div class="widget-content widget-content-mini text-right clearfix">
                <div class="widget-icon pull-left themed-background-danger">
                    <i class="gi gi-wallet text-light-op"></i>
                </div>
                <h2 class="widget-heading h3 text-danger">
                    <strong>$ <span data-toggle="counter" data-to="<%= @total_amount_summary %>"></span><%= @total_amount_summary %></strong>
                </h2>
                <span class="text-muted"><%= t('trip_equipment_list_money_widget_index') %></span>
                <div id="money_piechart" class="hidden" ></div>
            </div>
        </a>
    </div>

    <div class="col-lg-3">
        <a href="javascript:void(0)" onclick="$('#money_piechart, #item_piechart').toggleClass('hidden');" class="widget" id="item_widget">
            <div class="widget-content widget-content-mini text-right clearfix">
                <div class="widget-icon pull-left themed-background-warning">
                    <i class="gi gi-briefcase text-light-op"></i>
                </div>
                <h2 class="widget-heading h3 text-warning">
                    <strong><span data-toggle="counter" data-to="<%= @total_items_summary %>"><%= @total_items_summary %></span></strong>
                </h2>
                <span class="text-muted"><%= t('trip_equipment_list_item_widget_index') %></span>
                <div id="item_piechart" class="hidden"></div>
            </div>
        </a>
    </div>
</div>
<!-- end widgets -->


<div class="row">

    <div class="col-md-offset-3 col-md-6 text-center">

    <div class="clearfix">
      <blockquote class="pull-left">
        <% if @trip.equipment_lists.empty? %>
            <p><%= t('trip_equipment_list_no_list') %></p>
            <p>
            <a class="btn btn-danger" href="<%= new_trip_equipment_list_path(@trip) %>"><%= t('trip_equipment_list_create') %></a>
            </p>
        <% else %>
            <p> <%= t('trip_equipment_list_collaborate') %></p>
        <% end %>
        <small><%= t('trip_equipment_list_sign') %></small>

      </blockquote>
    </div>

  </div>

</div>
