<% content_for :page_title do %>
    <%=t('trip_media')%>
<% end %>

<%= render 'sidebar' %>

<% @media_user[:folders].each do |folder| %>

    <h3 class="sub-header"><i class="fa fa-picture-o"></i> <strong><%= folder[:path] %></strong></h3>
    <div class="row gallery" data-toggle="lightbox-gallery">

      <% folder[:files].each do |file| %>

          <div class="col-lg-4">
            <div class="gallery-image-container animation-fadeInQuick2Inv">
              <img src="<%=file[:path]%>" alt="<%=file[:path]%>">
              <a href="<%=file[:path]%>" class="gallery-image-options" title="<%=file[:path]%>">
                <i class="fa fa-search-plus fa-3x text-light"></i>
              </a>
            </div>
          </div>

      <% end %>

    </div>

<% end %>