<div>
  <%= f.label :desc, 'Description fix locals' %>
  <%= f.text_field :desc %>
  <%= f.label :lat, 'Latitude' %>
  <%= f.number_field :lat, :step => 'any' %>
  <%= f.label :lng, 'Longitude' %>
  <%= f.number_field :lng, :step => 'any' %>
  <%= f.label :type, 'Type' %>
  <%= f.text_field :type %>
</div>


