<% content_for :page_title do %>
    <%=t('trip_routes')%>
<% end %>

<% content_for :content_header do %>
    <div class="content-header">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-section">
            <h1><%= yield :page_title %></h1>
            <div class="col-md-offset-7">
                <%= link_to raw('<i class="fa fa-plus"></i> ' << t('trip_add_route')), new_trip_route_path(@trip), id: 'add_route_button',class: 'btn btn-primary push-bit',data: { no_turbolink: true } %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


<div class="row">
  <div class="col-lg-8">

    <% @routes.each do |route| %>
        <div class="col-lg-8">
          <div class="block">
            <div class="block-content" >

              <strong><%= link_to route.title, trip_route_path(@trip, route) %></strong> <br>
              <%= route.desc %>
            </div>
          </div>
        </div>


    <%end%>

  </div>
</div>