

<% content_for :page_stylesheets do %>
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<% end %>

<% content_for :page_scripts do %>
    <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2'></script>

    <%= render 'routes/map' %>
    <%= render 'routes/load_markers' %>

<% end %>

<div class="row">
    <div class="col-lg-8">
      <div class="widget">
        <div class="widget-content" >

          <div id="map" style="width: 100%; height: 440px; border: 1px solid #AAA;"></div>
          <br> </br>

        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <h1>Your route is:</h1>

    <div class="block">
      <div class="block-title">
        <h2><%= @route.title %></h2>
      </div>
      <div class="col-md-offset-1">
              <table style="width: 90%;" class="table table-striped table-bordered">
                <thead>
                <tr>
                  <td>Description</td>
                  <td>Latitude</td>
                  <td>Longitude</td>
                  <td>Type</td>
                </tr>
                </thead>

                <tbody id="waypoint-table">

                <% @route.waypoints.each do |waypoint| %>
                    <tr class="waypoint-entry">
                      <td id="desc" value="<%= waypoint.desc %>"><%= waypoint.desc %></td>
                      <td id=lat" value=<%= waypoint.lat %>><%= waypoint.lat %></td>
                      <td id=lng" value=<%= waypoint.lng %>><%= waypoint.lng %></td>
                      <td id="typ" value="<%= waypoint.typ %>"><%= waypoint.typ %></td>
                    </tr>
                <% end %>

                </tbody>

              </table>
      </div>
    </div>
  </div>
</div>