
<!-- Form for equipment assigment -->
<%= form_for [@trip, @equipment_list, @equipment_item, @equipment_assignment] do |f| %>
    <% if policy(@trip).update? %>
        <!-- begin user selector -->
        <select id="equipment_assignment_user_email" name="equipment_assignment[user_email]" class="select-select2" style="width: 75%;" data-placeholder="Choose one..">
            <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
            <% @trip.participants.each do |participant| %>
                <option value="<%= participant.user.email %>"><%= participant.user.name %></option>
            <% end %>
        </select>
        <!-- end user selector -->
    <% end %>


    <!-- begin number selector -->
    <select id="equipment_assignment_number" name="equipment_assignment[number]" class="select-select2" style="width: 75%;" data-placeholder="Choose one..">
        <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
        <% 1.upto(@equipment_item.number - @equipment_item.equipment_assignments.sum(:number)) do |n| %>
            <option value="<%= n %>"><%= n %></option>
        <% end %>
    </select>
    <!-- end number selector -->

    <div class="form-group form-actions">
        <%= f.submit class: 'btn btn-effect-ripple btn-primary', id: 'submit' %>
    </div>
<% end %>
<!-- end form -->
