<script src="<%= asset_path 'app/js/vendor/pace-1.0.2/pace.min.js' %>"></script>
<link href="<%= asset_path 'app/js/vendor/pace-1.0.2/themes/white/pace-theme-minimal.css' %>" rel="stylesheet" />

<meta charset="utf-8">

<title>
  <% if content_for?(:page_title) %>
      <%= t('header_page_title', :title => yield(:page_title)) %>
  <% else %>
      <%= t('header_title') %>
  <% end %>
</title>

<meta name="robots" content="noindex, nofollow">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

<!-- Icons -->
<!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
<link rel="shortcut icon" href="<%= asset_path 'app/img/favicon.png' %>">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon57.png' %>" sizes="57x57">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon72.png' %>" sizes="72x72">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon76.png' %>" sizes="76x76">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon114.png' %>" sizes="114x114">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon120.png' %>" sizes="120x120">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon144.png' %>" sizes="144x144">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon152.png' %>" sizes="152x152">
<link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon180.png' %>" sizes="180x180">
<!-- END Icons -->

<!-- Stylesheets -->
<!-- Bootstrap is included in its original form, unaltered -->
<link rel="stylesheet" href="<%= asset_path 'app/css/bootstrap.min.css' %>">

<!-- Related styles of various icon packs and plugins -->
<link rel="stylesheet" href="<%= asset_path 'app/css/plugins.css' %>">

<!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
<link rel="stylesheet" href="<%= asset_path 'app/css/main.css' %>">

<!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

<!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
<link rel="stylesheet" href="<%= asset_path 'app/css/themes.css' %>">
<link rel="stylesheet" href="<%= asset_path 'app/css/themes/passion.css' %>">

<!-- Rails -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= yield :page_stylesheets %>
<!-- END Stylesheets -->

<!-- Modernizr (browser feature detection library) -->
<script src="<%= asset_path 'app/js/vendor/modernizr-2.8.3.min.js' %>"></script>

<%= csrf_meta_tags %>