<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center">
    <div class="clearfix">
      <blockquote class="pull-left">
        <p><%= message %></p>
        <p><a id="<%= link_id %>" class="btn btn-danger" href="<%= link %>"><%= link_title %></a></p>
        <small><%=t('sincerely_turi')%></small>
      </blockquote>
    </div>
  </div>
</div>