<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>AppUI - Web App Bootstrap Admin Template</title>

  <meta name="robots" content="noindex, nofollow">

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="shortcut icon" href="<%= asset_path 'app/img/favicon.png' %>">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon57.png' %>" sizes="57x57">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon72.png' %>" sizes="72x72">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon76.png' %>" sizes="76x76">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon114.png' %>" sizes="114x114">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon120.png' %>" sizes="120x120">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon144.png' %>" sizes="144x144">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon152.png' %>" sizes="152x152">
  <link rel="apple-touch-icon" href="<%= asset_path 'app/img/icon180.png' %>" sizes="180x180">
  <!-- END Icons -->

  <!-- Stylesheets -->
  <!-- Bootstrap is included in its original form, unaltered -->
  <link rel="stylesheet" href="<%= asset_path 'app/css/bootstrap.min.css' %>">

  <!-- Related styles of various icon packs and plugins -->
  <link rel="stylesheet" href="<%= asset_path 'app/css/plugins.css' %>">

  <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
  <link rel="stylesheet" href="<%= asset_path 'app/css/main.css' %>">

  <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

  <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
  <link rel="stylesheet" href="<%= asset_path 'app/css/themes.css' %>">
  <link rel="stylesheet" href="<%= asset_path 'app/css/themes/passion.css' %>">
  <!-- END Stylesheets -->

  <!-- Modernizr (browser feature detection library) -->
  <script src="<%= asset_path 'app/js/vendor/modernizr-2.8.3.min.js' %>"></script>
</head>
<body>
<!-- Login Container -->
<div id="login-container">
  <!-- Register Header -->
  <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
    <%= yield :page_title %>
  </h1>
  <!-- END Register Header -->
  <%= yield %>
  <!-- END Register Block -->

  <!-- Footer -->
  <footer class="text-muted text-center animation-pullUp">
    <small><span id="year-copy"></span> &copy; Turi Inc.</small>
  </footer>
  <!-- END Footer -->
</div>
<!-- END Login Container -->

<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="app/js/vendor/jquery-2.1.3.min.js"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js, Jquery plugins and Custom JS code -->
<script src="<%= asset_path 'app/js/vendor/bootstrap.min.js' %>"></script>
<script src="<%= asset_path 'app/js/plugins.js' %>"></script>
<script src="<%= asset_path 'app/js/app.js' %>"></script>

<!-- Load and execute javascript code used only in this page -->
<script src="<%= asset_path 'app/js/pages/readyRegister.js' %>"></script>
<script>$(function(){ ReadyRegister.init(); });</script>
</body>
</html>