<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <%= render 'layouts/application_head' %>
</head>
<body>
<div id="page-wrapper" class="page-loading">
  <!-- Preloader -->
  <div class="preloader">
    <div class="inner">
      <!-- Animation spinner for all modern browsers -->
      <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

      <!-- Text for IE9 -->
      <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
    </div>
  </div>
  <!-- END Preloader -->

  <!-- Page Container -->
  <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
    <!-- Alternative Sidebar -->
    <%= render 'layouts/application_sidebar_right' %>
    <!-- END Alternative Sidebar -->

    <!-- Main Sidebar -->
    <div id="sidebar">
      <!-- Sidebar Brand -->
      <%= render 'layouts/application_sidebar_brand' %>
      <!-- END Sidebar Brand -->

      <!-- Wrapper for scrolling functionality -->
      <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
          <!-- Sidebar Navigation -->
          <%= render 'layouts/trip_sidebar' %>
          <!-- END Sidebar Navigation -->
        </div>
        <!-- END Sidebar Content -->
      </div>
      <!-- END Wrapper for scrolling functionality -->

      <!-- Sidebar Extra Info -->
      <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
        <div class="text-center">
          <small><span id="year-copy"></span> &copy; Turi Inc.</small>
        </div>
      </div>
      <!-- END Sidebar Extra Info -->
    </div>
    <!-- END Main Sidebar -->

    <!-- Main Container -->
    <div id="main-container">
      <!-- Header -->
      <header class="navbar navbar-inverse navbar-fixed-top">
        <!-- Left Header Navigation -->
        <ul class="nav navbar-nav-custom">
          <!-- Main Sidebar Toggle Button -->
          <li>
            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');
                    this.blur();">
              <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
              <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
            </a>
          </li>
          <!-- END Main Sidebar Toggle Button -->
        </ul>
        <!-- END Left Header Navigation -->

        <!-- Right Header Navigation -->
        <%= render 'layouts/application_header_nav' %>
        <!-- END Right Header Navigation -->
      </header>
      <!-- END Header -->

      <!-- Page content -->
      <div id="page-content" class="<%= yield :page_class %>">
        <!-- Content Header -->
        <%= yield :content_header %>
        <!-- END Content Header -->
        
        <%= render 'layouts/messages' %>

        <%= yield %>

      </div>
      <!-- END Page Content -->
    </div>
    <!-- END Main Container -->
  </div>
  <!-- END Page Container -->
</div>
<!-- END Page Wrapper -->

<%= render 'layouts/application_footer' %>

</body>
</html>
