<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <%= render 'layouts/application_head' %>
</head>
<body>
<div id="page-wrapper" class="page-loading">
  <!-- Preloader -->
  <div class="preloader">
    <div class="inner">
      <!-- Animation spinner for all modern browsers -->
      <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

      <!-- Text for IE9 -->
      <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
    </div>
  </div>
  <!-- END Preloader -->

  <!-- Page Container -->
  <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
    <!-- Alternative Sidebar -->
    <%= render 'layouts/application_sidebar_right' %>
    <!-- END Alternative Sidebar -->

    <!-- Main Sidebar -->
    <div id="sidebar">
      <!-- Sidebar Brand -->
      <div id="sidebar-brand" class="themed-background">
        <a href="<%=dashboard_path%>" class="sidebar-title">
          <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide"><strong>turi</strong></span>
        </a>
      </div>
      <!-- END Sidebar Brand -->

      <!-- Wrapper for scrolling functionality -->
      <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
          <!-- Sidebar Navigation -->
          <ul class="sidebar-nav">
            <li class="<%=current_page?(trip_path(@trip)) ? 'active' : ''%>">
              <a href="<%= trip_path(@trip) %>"><i class="gi gi-home sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"><%=t('trip_details')%></span></a>
            </li>

            <li class="sidebar-separator">
              <i class="fa fa-ellipsis-h"></i>
            </li>

            <li class="<%=current_page?(trip_participants_path(@trip)) ? 'active' : ''%>">
              <a href="<%=trip_participants_path(@trip)%>"><i class="gi gi-parents sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"><%=t('trip_participants')%></span></a>
            </li>

            <li class="">
              <a href="#"><i class="gi gi-direction sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Routes</span></a>
            </li>

            <li class="">
              <a href="#"><i class="gi gi-fins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Equipment</span></a>
            </li>

            <li class="">
              <a href="#"><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Discussion</span></a>
            </li>

            <li class="">
              <a href="#"><i class="gi gi-blog sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Blog</span></a>
            </li>

            <li class="">
              <a href="#"><i class="gi gi-picture sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Gallery</span></a>
            </li>

            <li class="">
              <a href="#"><i class="gi gi-calendar sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Calendar</span></a>
            </li>

            <li class="sidebar-separator">
              <i class="fa fa-ellipsis-h"></i>
            </li>

            <% if policy(@trip).update? %>
                <li class="<%=current_page?(edit_trip_path(@trip)) ? 'active' : ''%>">
                  <a href="<%=edit_trip_path(@trip)%>"><i class="gi gi-pencil sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"><%=t('trip_edit')%></span></a>
                </li>
            <% end %>

            <% if policy(@trip).destroy? %>
            <li>
              <%= link_to raw('<i class="gi gi-bin sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">' << t('trip_delete') << '</span>'),
                          trip_path(@trip),
                          method: :delete,
                          data: {
                                  confirm: 'Are you sure you want to delete this trip?',
                                  toggle: 'tooltip'
                          },
                          class: 'text-danger',
                          title: '',
                          id: 'delete_trip_button'
              %>
            </li>
            <% end %>
          </ul>
          <!-- END Sidebar Navigation -->
        </div>
        <!-- END Sidebar Content -->
      </div>
      <!-- END Wrapper for scrolling functionality -->

      <!-- Sidebar Extra Info -->
      <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
        <div class="text-center">
          <small><span id="year-copy"></span> &copy; Turi Inc.</small>
        </div>
      </div>
      <!-- END Sidebar Extra Info -->
    </div>
    <!-- END Main Sidebar -->

    <!-- Main Container -->
    <div id="main-container">
      <!-- Header -->
      <header class="navbar navbar-inverse navbar-fixed-top">
        <!-- Left Header Navigation -->
        <ul class="nav navbar-nav-custom">
          <!-- Main Sidebar Toggle Button -->
          <li>
            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');
                    this.blur();">
              <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
              <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
            </a>
          </li>
          <!-- END Main Sidebar Toggle Button -->
        </ul>
        <!-- END Left Header Navigation -->

        <!-- Right Header Navigation -->
        <%= render 'layouts/application_header_nav' %>
        <!-- END Right Header Navigation -->
      </header>
      <!-- END Header -->

      <!-- Page content -->
      <div id="page-content" class="<%= yield :page_class %>">
        <!-- Content Header -->
        <%= yield :content_header %>
        <!-- END Content Header -->
        
        <%= render 'layouts/messages' %>

        <%= yield %>

      </div>
      <!-- END Page Content -->
    </div>
    <!-- END Main Container -->
  </div>
  <!-- END Page Container -->
</div>
<!-- END Page Wrapper -->

<%= render 'layouts/application_footer' %>

</body>
</html>
