<% content_for :page_title do %>
    <i class="fa fa-plus"></i> <strong>Create Account</strong>
<% end %>

<!-- Register Block -->
<div class="block animation-fadeInQuickInv">
  <!-- Register Title -->
  <div class="block-title">
    <div class="block-options pull-right">
      <a href="<%=sign_in_path%>" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
    </div>
    <h2>Register</h2>
  </div>
  <!-- END Register Title -->

  <!-- Register Form -->
  <%= form_for @account, html: {class: 'form-horizontal'} do |f| %>

    <!-- Display error message(s) to the user -->
    <% if @account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being created: </h2>

          <ul>
            <% @account.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!-- Display the registration form -->
    <div class="form-group">
      <div class="col-xs-12">
        <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Verify Password' %>
      </div>
    </div>

    <div class="form-group form-actions">
      <div class="col-xs-12 text-right">
        <%= f.submit 'Create Account', class: 'btn btn-effect-ripple btn-sm btn-primary' %>
      </div>
    </div>

    <% end %>
    <!-- END Register Form -->
</div>
<!-- END Register Block -->